In [4]:
#pip install tehran_stocks
import tehran_stocks

In [5]:
from tehran_stocks import get_all_price
get_all_price()

Download Finished.

In [8]:
from tehran_stocks import Stocks # we will talk about Stocks later
Stocks.get_group()

[(10, 'استخراج زغال سنگ'),
 (11, 'استخراج نفت گاز و خدمات جنبي جز اکتشاف'),
 (13, 'استخراج کانه هاي فلزي'),
 (14, 'استخراج ساير معادن'),
 (17, 'منسوجات'),
 (19, 'دباغي، پرداخت چرم و ساخت انواع پاپوش'),
 (20, 'محصولات چوبي'),
 (21, 'محصولات كاغذي'),
 (22, 'انتشار، چاپ و تکثير'),
 (23, 'فراورده هاي نفتي، كك و سوخت هسته اي'),
 (25, 'لاستيك و پلاستيك'),
 (26, 'توليد محصولات كامپيوتري الكترونيكي ونوري'),
 (27, 'فلزات اساسي'),
 (28, 'ساخت محصولات فلزي'),
 (29, 'ماشين آلات و تجهيزات')]

In [15]:
from tehran_stocks import update_group
update_group(10)‍

SyntaxError: invalid character in identifier (<ipython-input-15-9b994a0c8550>, line 2)

In [12]:
from tehran_stocks import Stocks

In [13]:
s‍‍tock = Stocks.query.filter_by(code='35700344742885862').first()

stock = Stocks.query.filter_by(name='کگل').first()

stock = Stocks.query.filter(Stocks.title.like'%گل گهر%').first() #its based on sqlalchemy

SyntaxError: invalid character in identifier (<ipython-input-13-a4c3ef379817>, line 1)

In [28]:
from tehran_stocks import get_all_price, Stocks, update_group

get_all_price() # download and(or) update all prices

update_group(34) #download and(or) update Stocks in groupCode = 34 (Cars)

Stocks.get_group() # to see list of group codes

Download Finished.
Make sure group has some entity on Stocks

[(10, 'استخراج زغال سنگ'),
 (11, 'استخراج نفت گاز و خدمات جنبي جز اکتشاف'),
 (13, 'استخراج کانه هاي فلزي'),
 (14, 'استخراج ساير معادن'),
 (17, 'منسوجات'),
 (19, 'دباغي، پرداخت چرم و ساخت انواع پاپوش'),
 (20, 'محصولات چوبي'),
 (21, 'محصولات كاغذي'),
 (22, 'انتشار، چاپ و تکثير'),
 (23, 'فراورده هاي نفتي، كك و سوخت هسته اي'),
 (25, 'لاستيك و پلاستيك'),
 (26, 'توليد محصولات كامپيوتري الكترونيكي ونوري'),
 (27, 'فلزات اساسي'),
 (28, 'ساخت محصولات فلزي'),
 (29, 'ماشين آلات و تجهيزات')]

In [29]:
from tehran_stocks import Stocks, db

# You can use query to find stocks
stock = Stocks.query.filter_by(name='كگل').first() #find by symbol(نماد)

stock = Stocks.query.filter_by(code='35700344742885862').first() # find by code on tsetmc url

stock = Stocks.query.filter(Stocks.title.like('%گل گهر%')).first() # Search by title

stock_list = Stocks.query.filter_by(group_code =34).all() # find all Stocks in Khodro

stock_list = Stocks.query.filter(Stocks.group_code.in_([13,34])).all() # all stocks in khodro and felezat


## (Advanced)or run sql query using orm or raw sql
db.session.query(Stocks.group_code, Stocks.group_name).group_by(Stocks.group_code).all()

db.session.execute('select group_code , group_name from stocks group by group_name').fetchall()

[(10, 'استخراج زغال سنگ'),
 (14, 'استخراج ساير معادن'),
 (11, 'استخراج نفت گاز و خدمات جنبي جز اکتشاف'),
 (13, 'استخراج کانه هاي فلزي'),
 (22, 'انتشار، چاپ و تکثير'),
 (26, 'توليد محصولات كامپيوتري الكترونيكي ونوري'),
 (19, 'دباغي، پرداخت چرم و ساخت انواع پاپوش'),
 (28, 'ساخت محصولات فلزي'),
 (23, 'فراورده هاي نفتي، كك و سوخت هسته اي'),
 (27, 'فلزات اساسي'),
 (25, 'لاستيك و پلاستيك'),
 (29, 'ماشين آلات و تجهيزات'),
 (21, 'محصولات كاغذي'),
 (20, 'محصولات چوبي'),
 (17, 'منسوجات')]

In [27]:
# use data as a pandas dataframe
stock.df #

,id,code,ticker,dtyyyymmdd,date_shamsi,first,high,low,close,value,vol,openint,per,open,last
date,,,,,,,,,,,,,,,
2004-08-29,187237,35700344742885862,Gol-E-Gohar.,20040829,1383/06/08,12000.0,12021.0,12000.0,12000.0,18841605000,1570000,2708,D,12000.0,12000.0
2004-09-04,187236,35700344742885862,Gol-E-Gohar.,20040904,1383/06/14,12600.0,12600.0,12600.0,12600.0,12600000000,1000000,849,D,12000.0,12600.0
2004-09-05,187235,35700344742885862,Gol-E-Gohar.,20040905,1383/06/15,13230.0,13230.0,7115.0,13230.0,34449329770,2708823,3887,D,12600.0,13230.0
2004-09-07,187234,35700344742885862,Gol-E-Gohar.,20040907,1383/06/17,13891.0,13891.0,13891.0,13891.0,41395180000,2980000,996,D,13230.0,13891.0
2004-09-08,187233,35700344742885862,Gol-E-Gohar.,20040908,1383/06/18,14585.0,14585.0,14585.0,14585.0,20305659965,1392229,409,D,13891.0,14585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-19,184058,35700344742885862,Gol-E-Gohar.,20200519,1399/02/30,15620.0,15620.0,14206.0,14493.0,576589876432,39784559,8602,D,14953.0,14206.0
2020-05-20,184057,35700344742885862,Gol-E-Gohar.,20200520,1399/02/31,13950.0,14238.0,13769.0,13789.0,486141435315,35254979,5149,D,14493.0,13780.0
2020-05-23,184056,35700344742885862,Gol-E-Gohar.,20200523,1399/03/03,13100.0,13590.0,13100.0,13110.0,215551453222,16441752,3573,D,13789.0,13100.0
2020-05-26,184055,35700344742885862,Gol-E-Gohar.,20200526,1399/03/06,12455.0,13100.0,12455.0,12460.0,177446774263,14241490,2798,D,13102.0,12455.0
2020-05-27,184054,35700344742885862,Gol-E-Gohar.,20200527,1399/03/07,11841.0,13083.0,11841.0,12845.0,263603010627,20521570,4184,D,12460.0,13083.0

In [35]:

stock.summary()

AttributeError: 'DataFrame' object has no attribute 'date'

In [31]:
stock.update()
# update stock price history

# Export to your preferred format

(True, '35700344742885862')

In [32]:
stock.df.to_csv('price.csv')
#stock.df.to_excel('price.xlsx')
#stock.df.to_stata('price.dta')